@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "inter fallback", inter;
    background-color: #ffffff;
    color: #101828;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    position: relative;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.menu-btn{
  display: none;
}

.main-nav{
  background-color: #fff;
  display: flex;
  padding: 20px 0;
  top: 0;
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 1000;
  margin-top: 0;
}

.left-menu{
  display: flex;
  gap: 20px;
  margin-right: 36%;
  cursor: pointer;
  padding: 0 20px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.left-menu li:nth-child(1) a{
  font-size: 18px;
  font-weight: bold;
}

.btn-right{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-left: 40px;
}


.main-nav img{
  margin-right: 60px;
}

ul{
  list-style: none;
}

.main-nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }
  


  .btn {
    padding: 12px 24px;
    background-color: #8A4CF1; /* Purple */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
  }

  .btn:hover {
   opacity: 0.9;
  }

  .dot-grid{
    background-image: radial-gradient(#d1d5db 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .showcase{
    margin-top: 1rem;
    position: relative;
    padding: 50px;
    text-align: center;
    height: 70vh;
    margin-bottom: 20px;
  }

  .text-banner{
    margin-top: 3rem;
    display: inline-block;
    background-color: #f8f6ff;
    color: #7c3aed;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.7rem 1rem;
    border-radius: 9999px;
    margin-bottom: 1.5rem;
  }
  
  .showcase a {
    color: inherit;
    text-decoration: none;
  }

  .bg{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #E9D5FF;
    padding: 6px;
  }

  .hero-content h1{
    height: 144px;
    margin: auto;
    max-width: 80%;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 5rem;
    line-height: 1.2;
  }

  .hero-content p{
    font-size: 18px;
    color: #475467;
    margin-top: 2rem;
    height: 60px;
    max-width: 60%;
    margin: auto;
    margin-bottom: 2rem;
    line-height: 1.8;
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #d9d9d9; 
    border-radius: 12px; 
    padding: 10px 16px;
    max-width: 360px; 
    margin: 0 auto;
    background-color: #fff;
  }



.search-form:active{
    border: 1px solid #a481e6;
}
  
  /* Search Icon */
  .search-form i {
    font-size: 1.5rem;
    color: #000; 
    margin-right: 12px;
  }
  
  /* Input Styles */
  .search-input {
    border: none;
    width: 100%;
    outline: none; 
    font-size: 1rem; 
    color: #7f8c8d; 
  }

  .mentors{
    margin-bottom: 50px;
  }
  .grid{
    max-width: 1280px;
    margin: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    min-height: auto;
    min-width: auto;
    gap: 20px;
    width: 100%
  }

  .grid img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    overflow: none;
}

.card{
    height: auto;
    margin: auto;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 24px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.card a{
    margin-top: 10px;
    display: inline-block;
    color: #7f56d9;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
}

.card p{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}



.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 24px;
    max-width: 1280px;
    height: 250px;
    margin: auto;
    background-color: #f8f6ff;
    border-radius: 20px;
}

.stat-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    width: 150px;
    color: #7f56d9;
}

.stat-item h1{
    font-size: 60px;
    margin-bottom: 5px;
}

.stat-item p{
    font-size: 18px;
    color: #000;
}
.shown{
  display: none;
}

.mission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
}

.mission-content {
    width: 50%;
    padding: 20px;
}

.mission-image{
    width: 50%;
    padding: 20px;
    text-align: right;
    border-radius: 20px;;
}

.mission-image img {
    width: 100%;
    border-radius: 12px;
}

.mission-content h4 {
    font-size: 18px;
    font-weight: bold;
    color: #7f56d9;
    margin-bottom: 30px;
}

.mission-content h2 {
    font-size: 32px;
    font-weight: bold;
    color: #111;
}

.mission-content p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.mission-content a {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    color: #111;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}

.mission-content a:hover {
    border-color: #a481e6;
    color: #a481e6;
}

.faq{
  display: flex;
  flex-direction: column;
  height: 75vh;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 50px;
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
}

.faq h1{
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

.faq-line{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 300;
}

.faq > div{
  margin-top: 1rem;
}

.faq-item{
  position: relative;
  border-bottom: 1px solid #e5e7eb;
  cursor: pointer;
}

.faq-item h3{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  padding: 12px;
}

.faq-item i{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #475467;
}

.faq-item p{
  display: none;
  font-size: 14px;
  line-height: 1.8;
  padding: 10px;
  margin-bottom: 5px;
  color: #475467;
}


.fas.rotated {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}

.faq-item h3:active {
  

  i{
  transition: ease-in 0.3s;
  transform: rotate(180deg);
} }

.questions{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgba(229, 231, 235, 0.3);
  border: none;
  border-radius: 20px;
  height: 40vh;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 3rem;
}

.last{
  margin-top: 0;
  overflow: hidden;
  width: 80%;
  max-width: 100px;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 10rem;
}

.questions-text{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 20px;
 position: absolute;
 top: 80;
 margin-top: 4rem;
}

.questions-text h3{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #101828;
  margin-bottom: 10px;
}

.questions-text p{
  font-size: 16px;
  text-align: center;
  color: #475467;
  margin-bottom: 20px;
}

.questions-text button{
  font-size: 16px;
  font-weight: 600;
}

.footer{
  background-color: #0c111d;
  height: 50vh;
  color: #fff;
  padding: 0;
  margin-bottom: 0;
  height: 100%;
}

.footer-content{
  margin-top: 2rem;
  max-width: 1300px;
  margin:auto;
  border-bottom: 1px solid #475467;
}

.footer-content a{
  line-height: 1.2;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600px;
  margin-right: 20px;
}

.footer-content img{
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 10px;
}

.footer-content p{
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 2rem;
  padding: 10px;
}

.footer-nav{
  padding: 10px;
  margin-bottom: 2.4rem;
}

.footer-nav a{
  color: #e5e7eb;
}

.footer-bottom{
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.footer-bottom p{
  margin-bottom: 3rem;
  font-size: 16px;
  line-height: 1.8;
}

.social-links{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-links a{
  color: #e5e7eb;
  text-decoration: none;
}

.social-links i{
  margin-bottom: 3rem;
  font-size: 24px;
  padding: 5px;
}

@media only screen and (max-width: 968px) {

  .container {
    margin-top: 20px;
    margin: 0 auto;
    height: 100vh;
  }

  .dot-grid{
    height: 100vh;
  }

  .left-menu{
    margin-right: 20%;
  }

  .hero-content h1, .hero-content p{
   max-width: 100%;
  }

  .hero-content h1{
    font-size: 3.4rem;
    line-height: 1.2;
  }

  .hero-content p{
    margin-top: 3rem;
  }

  .shown{
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
    transition: margin 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 360px;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
  }

  .grid img{
    width: 100%;
  }

  .text-banner{
    font-size: 0.75rem;
  }

  .stats{
    width: 95%;
  }

 
}


@media only screen and (max-width: 768px) {

 
   .left-menu,.btn-right{
    display: block; 
    position: absolute; 
    top: 70%; 
    left: 1%; 
    width: 100%; 
    height: 50vh;
    background-color: #fff; 
    z-index: 1000; 
    border-top: 1px solid #ccc;
    transform: translateY(-700px);
    transition: transform 500ms ease;
    border-bottom: 1px solid #111;
  }

 
  .left-menu ul, .btn-right{
    list-style: none; 
    padding: 0; 
    margin: 0; 
    text-align: center; 
  }

  .left-menu ul li{
    display: inline-block;
    padding: 10px;
    margin: 0 10px
  }

  

  .left-menu a, .btn-right{
    display: block; 
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    transition: background-color 0.3s ease-in-out; 
    text-decoration: none; 
    color: #000;
    font-size: 16px; 
    margin-top: 2.8rem;
  }

  
  #main-menu.show{
    transform: translateY(0);
  }

  .showcase.blur{
    filter: blur(2px);
  }

  .hero-content h1, .hero-content p{
   max-width: 100%;
  }

  .hero-content h1{
    font-size: 3.8rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  .hero-content p{
    font-size: 19px;
    width: 70%;
    margin-top: 7rem;
  }

  .search-form{
    margin-top: 5rem;
  }

  .shown{
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    transition: margin 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    max-width: 360px;
  
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }

  .mission-image{
    margin-bottom: 8rem;
  }

  .mission-content button{
    margin-bottom: 10px;
  }

  .menu-btn{
    display: block;
    position: absolute;
    top: 8px;
    right: 24px;
    font-size: 11px;
    font-weight: 100;
    color: #475467;
    z-index: 10000;
    cursor: pointer;
  }




}

@media only screen and (max-width: 568px) {


  .container{
    margin-top: 20px;
    margin: 0 auto;
    height: 105vh;
  }

  
  .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  

  .stats{
    display: block;
    height: 100%;
  }

  .stat-item{
    display: block;
    max-width: 95%;
  }

  .stat-item h1, .stat-item p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .text-banner{
    font-size: 0.62rem;
  }

  .mission{
    display: grid;
    grid-template-rows: 1fr;
  }

  .mission-content {
    width: 100%;
    padding: 20px;
}

.mission-image{
    width: 100%;
    border-radius: 20px;
}

.mission-content a,
 .mission-content button{
   margin-top: 20px;
   font-size: 0.95rem;
}

.hero-content h1{
    font-size: 2.8rem;
}

.hero-content p{
  margin-bottom: 4rem;
}

.search-form{
  width: 100%;
}

.search-form i {
  font-size: 1.4rem;
}

/* Input Styles */
.search-input {
  font-size: 0.95rem; 
}

.shown{
  padding: 8px 16px;
  margin-top: 1rem;
  cursor: pointer;
  max-width: 360px;
  margin-right: 20px;
}



.faq{
  width: 100%;
}

.questions-text{
  margin-top: 6rem;
}

.footer{
  width: 100%;
  height: 100%;
}

.footer-content{
  margin-left: 10px;
}

.footer-bottom {
  display: block;
  text-align: center;
  align-items: center;
  margin-top: 14px;
}

.social-links{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 14px;
}

.social-links i{
  font-size: 1.8rem;
}
}

